@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html * {
  font-family: "Roboto", sans-serif;
}
/* universal */
h2 {
  font-size: 34px;
  color: #273272;
}
h3 {
  color: #273272;
}
p {
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
  color: #231d1d;
}

ul {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
li {
  list-style: none;
}
body {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  /* font-family: 'Montserrat'; */
}
main {
  flex: 1 0 auto;
}
h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Roboto", sans-serif;
}
a {
  color: #273272;
  font-family: "Roboto", sans-serif;
}

#flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 20px 90px 20px 90px;
  border-radius: 10px 10px 10px 10px;
  background-color: #fff;
}

.flex-item {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
}

.approval-list {
  position: relative;
  margin-top: -25px;
}

.approval-img {
  width: 4rem;
  height: 4rem;
}
.approval-text {
  font-size: 1.25rem;
}
/* .section-content {
  max-width: 75%;
} */

.section-content-image {
  max-width: 50%;
}
/* owl carousel */
.uni-carousel .item {
  max-width: 120px;
  margin: auto;
}

.carousel-inner > .carousel-item > img,
.carousel-inner > .carousel-item > a > img {
  display: block;
  height: auto;
  max-width: 100%;
  line-height: 1;
  width: 100%;
}

.stats-wrapper {
  background-color: #273272;
}

/* benefit card */
.readmore__content {
  max-width: 45rem;
  width: 100%;
  display: flex;
}

.benefit-card {
  border: 2px solid #273272;
  text-align: justify;
  border-radius: 5px 5px 5px 5px;
  min-height: 200px;
  padding: 10px;
}

.benefit-card img {
  height: 50px;
  width: 50px;
}

.benefit-card-title {
  color: #273272;
}

.card-container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  background-color: #fff;
  color: #444;
}

#more {
  display: none;
}

.moretext {
  display: none;
}

.readmore-btn {
  color: #ff5700;
  cursor: pointer;
}

.pc-image {
  position: relative;
}

.pc-image:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  -moz-box-shadow: inset 0 -14px 28px -3px #273272;
  -webkit-box-shadow: inset 0 -14px 28px -3px #273272;
  box-shadow: inset 0 -14px 28px -3px #273272;
  top: 0;
  left: 0;
  z-index: 1; /* You can use higher to ensure that it stays on top */
}

.pc-image img {
  position: relative;
}

.bg-light-gray {
  background-color: #e6e6e6;
}

.course-label-blue {
  background: rgb(185, 185, 227);
  color: rgb(70, 70, 116);
  text-align: center;
  padding: 2px;
  border-radius: 2px;
  font-weight: 600;
}

.course-label-green {
  background: rgb(163, 234, 163);
  color: rgb(8, 171, 18);
  text-align: center;
  padding: 2px;
  border-radius: 2px;
  font-weight: 600;
}

.course-label-yellow {
  background: rgb(208, 228, 131);
  color: rgb(110, 129, 49);
  text-align: center;
  padding: 2px;
  border-radius: 2px;
  font-weight: 600;
}

.university-name {
  font-weight: bold;
}

.popular-carousel .btn {
  background: unset;
  padding: 0;
  border: 0;
  font-size: 18px;
  text-decoration: underline;
}

.popular-carousel .card-body {
  background: #f8f9fa;
}

.popular-carousel .period, .popular-carousel .fee  {
  font-size: 16px;
}


.testimonial-card {
  border: 1px solid #ff5700;
  padding: 16px;
  border-radius: 16px;
}
.testimonial-card .user-icon {
  font-size: 28px;
  border: 1px solid #ff5700;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 16px; */
}
.testimonial-card .user-name {
  font-size: 28px;
  font-weight: bold;
}

.testimonial-card .stars {
  font-size: 24px;
}

.testimonial-card .content {
  margin-top: 8px;
}
.testimonial-card .fa-quote-left {
  font-size: 28px;
}
/* 2nd blue background */
.stats-para {
  text-align: justify;
}
.stats-form-btn {
  padding: 10px;
  /* margin-bottom: 10px; */
  font-size: 14px !important;
  border: none;
}

.course-full-form {
  color: rgb(43, 34, 34);
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  min-height: 40px;
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 16px;
  }
  #flex-container {
    height: fit-content;
    padding: 8px 10px 8px 10px;
  }
  .approval-list {
    margin-top: -12px !important;
  }
  .flex-item {
    margin-top: unset;
    margin-bottom: unset;
    margin-right: 8px;
    margin-left: 8px;
    width: max-content !important;
  }
  .approval-img {
    width: 2rem !important;
    height: 2rem !important;
  }
  .approval-text {
    font-size: 0.75rem !important;
  }
  .testimonial-card .user-icon {
    font-size: 20px;
    /* padding: 16px; */
  }
  .testimonial-card .user-name {
    font-size: 20px;
  }
  
  .testimonial-card .stars {
    font-size: 18px;
  }
  
  .testimonial-card .content {
    margin-top: 8px;
  }
  .testimonial-card .fa-quote-left {
    font-size: 20px;
  }
  .course-label {
    background: rgb(185, 185, 227);
    color: rgb(70, 70, 116);
    text-align: center;
    padding: 2px;
    border-radius: 2px;
    font-weight: 600;
  }
  
  .course-full-form {
    color: rgb(43, 34, 34);
    font-size: 16px;
    line-height: 20px;
  }
  
  .university-name {
    font-weight: bold;
  }
  .carousel-inner > .carousel-item > img,
  .carousel-inner > .carousel-item > a > img {
    min-height: 150px;
  }
}
.btn {
  font-size: 11px;
  background-color: #ff5700;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.morecontent span {
	display: none;
}

.more {
  text-align: left;
}